### Installation

###### Terminal linux 
- Si sous windows git bash aller sur https://git-scm.com/download/win
- Choisir celui adapté au système
- Installer git bash

###### Installation Python
- Aller sur https://www.python.org/downloads/windows/
- Choisir la version Python 3.10
- Le modèle Windows installer (64-bit)

Pour installer des libs sur python, il y a deux facons de faire
- pip install lib-name
- pip install -r requirements.txt (meilleure pratique)

### Introduction

Python est un langage de programmation interprété de haut niveau, souvent utilisé pour des applications telles que l'analyse de données, la création de sites Web, l'automatisation de tâches ou encore la création de jeux vidéo. Il est apprécié pour sa syntaxe claire et concise, ainsi que pour sa grande bibliothèque standard.


On peut programmer en python avec différents outils: en utilisant la ligne de commande, en utilisant de notebooks comme on le fait là ou avec des éditeurs de code type VS code

### Les objets pythons 
Les objets en pythons peuvent être vus comme des classes avec leurs différentes méthodes. On a entre autre structures de données comme les List, les dictionnaires, les tuples, les dataframes

##### Les Lists - [ ] https://docs.python.org/3/tutorial/datastructures.html
Une liste est une structure de données qui peut contenir un nombre quelconque d'éléments et est caractérisée par des [ ]. 

Exemple: ma_liste = [1, 2, 3, 4, 5]

In [1]:
ma_list: list = ["science", "ml", "biology", "math", 'literature', 'science', 344]

In [2]:
print(ma_list)

['science', 'ml', 'biology', 'math', 'literature', 'science', 344]

In [3]:
ma_list.

0

In [4]:
ma_list.append("sociology")

In [5]:
ma_list

['science', 'ml', 'biology', 'math', 'literature', 'science', 344, 'sociology']

In [11]:
del ma_list[0]

In [12]:
ma_list.remove(344)

In [8]:
"ml" in ma_list

False

In [9]:
#parcourir ma list
for e in ma_list:
    print(e)

science
biology
math
literature
science
344
sociology

In [10]:
#longueur de la list
len(ma_list)
#occurence element
ma_list.count('science')

2

In [13]:
#list compression
[x for x in ma_list if x.startswith('m')]

['math']

In [17]:
"   grez  ".strip()

'grez'

In [18]:
ma_list.extend(['name', "grade"])

In [19]:
ma_list

['science',
 'biology',
 'math',
 'literature',
 'science',
 'sociology',
 'name',
 'grade']

In [21]:
ma_list + ["hello"]

['science',
 'biology',
 'math',
 'literature',
 'science',
 'sociology',
 'name',
 'grade',
 'hello']

In [ ]:
#len pour la taille de la liste

In [22]:
# accès par index
ma_list[3]

'literature'

In [23]:
# les lists sont pas immuables
ma_list[0] = "Data-Science"

In [24]:
ma_list

['Data-Science',
 'biology',
 'math',
 'literature',
 'science',
 'sociology',
 'name',
 'grade']

#### Chaines de caractères

In [38]:
#chaine = "science   "
chaine = 'science   '

In [32]:
chaine_

'science   '

In [40]:
#pour enlever les espaces unutiles
chaine.strip()

'science'

In [35]:
#voir si la chaine commence par un caractères ou un sous chaines
chaine.startswith('ch')

False

In [36]:
chaine.endswith('e')

False

In [43]:
#string/char contains in 
"en" in chaine

True

In [41]:
len(chaine)

10

In [45]:
"name,lastname,age".split(",")

['name', 'lastname', 'age']

#### Les dictionnaires - { }
Un dictionnaire est une structure de données qui permet de stocker des paires clé-valeur. 

Les clés sont des objets immuables (par exemple des chaînes de caractères, des nombres ou des tuples), tandis que les valeurs peuvent être de n'importe quel type d'objet, y compris des listes, des dictionnaires, des fonctions ou des classes.

Exemple:
notes = {"Alice": 15, "Bob": 12, "Charlie": 18, "David": 14}

In [46]:
notes = {"Alice": 15, "Bob": 12, "Charlie": 18, "David": 14}

In [47]:
print(notes)

{'Alice': 15, 'Bob': 12, 'Charlie': 18, 'David': 14}

In [50]:
#acceder aux éléments, les clées sont uniques
notes["Alice"]

15

In [55]:
#acceder aux éléments, return None=Null si cette clée n'est pas dans le dictionnaire
notes.get("Alice")

In [56]:
notes.get('Muha', 0)

0

In [89]:
#modification
notes["Alice"] = 35

In [74]:
#les cles du dict
notes.keys()

dict_keys(['Alice', 'Bob', 'Charlie', 'David'])

In [75]:
#les valeurs du dict
notes.values()

dict_values([166, 12, 18, 14])

In [59]:
#cles et valeurs
notes.items()

dict_items([('Alice', 20), ('Bob', 17), ('Charlie', 23), ('David', 19)])

In [60]:
#parcourir un dictionnaire
for key, val in notes.items():
    notes[key]=val + 5

In [61]:
notes

{'Alice': 25, 'Bob': 22, 'Charlie': 28, 'David': 24}

In [62]:
notes.update({"new_student": 30})

In [63]:
notes

{'Alice': 25, 'Bob': 22, 'Charlie': 28, 'David': 24, 'MNS': 30}

In [65]:
#remove element 
val = notes.pop('Alice')

In [66]:
notes

{'Bob': 22, 'Charlie': 28, 'David': 24, 'MNS': 30}

In [37]:
'Charlie' in notes

True

#### Les tuples - ( )
Un tuple est une structure de données similaire à une liste, mais qui est immuable, c'est-à-dire que ses éléments ne peuvent pas être modifiés une fois qu'ils ont été créés.

Exemple: coordonnees = (2.5, 3.7)

In [67]:
coordonnees = (2.5, 3.7, 5)

In [95]:
#acces par indexs
coordonnees.index(2.5)

0

TypeError: 'tuple' object does not support item assignment

#### Les ensembles
Ils sont représentés par des {}

N'accepte pas les doublons et l'accès ne se fait pas par index


Exemple {3,4,5}

In [72]:
my_first_set = {3,4,5, 5}
my_first_set

{3, 4, 5}

[4, 5, 6]

In [75]:
my_set = set((4,5,6,5))
my_set

{4, 5, 6}

In [74]:
for x in my_set:
    print(x)

4
5
6

### Les dataframes 

Un dataframe est une structure de données bidimensionnelle qui permet de stocker et de manipuler des données tabulaires. Les dataframes sont particulièrement utiles pour travailler avec des données structurées telles que des feuilles de calcul, des tables de base de données et des fichiers CSV, parquet.

In [ ]:
pd.DataFrame

In [81]:
#from pandas import DataFrame

In [78]:
import pandas as pd

In [79]:
pd.DataFrame({"col1":[4,5],
"col2": [7,8]})

   col1  col2
0     4     7
1     5     8

In [83]:
fruits = [
    {"nom": "pomme", "couleur": "rouge", "prix": 0.5},
    {"nom": "banane", "couleur": "jaune", "prix": 0.2},
    {"nom": "orange", "couleur": "orange", "prix": 0.3},
    {"nom": "pomme", "couleur": "rouge", "prix": 0.5},
    {"nom": "banane", "couleur": "jaune", "prix": 0.2},
    {"nom": "orange", "couleur": "orange", "prix": 0.3},
]

In [84]:

df_fruits = pd.DataFrame(fruits)

In [85]:
df_fruits

      nom couleur  prix
0   pomme   rouge   0.5
1  banane   jaune   0.2
2  orange  orange   0.3
3   pomme   rouge   0.5
4  banane   jaune   0.2
5  orange  orange   0.3

In [86]:
# afficher les cinq premiers éléments
df_fruits.head()

      nom couleur  prix
0   pomme   rouge   0.5
1  banane   jaune   0.2
2  orange  orange   0.3
3   pomme   rouge   0.5
4  banane   jaune   0.2

In [87]:

df_fruits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nom      6 non-null      object
 1   couleur  6 non-null      object
 2   prix     6 non-null      float64
dtypes: float64(1), object(2)
memory usage: 272.0+ bytes

In [110]:
df_fruits.count()

nom        6
couleur    6
prix       6
dtype: int64

In [52]:
df_fruits.columns

Index(['nom', 'couleur', 'prix'], dtype='object')

In [53]:
list(df_fruits.columns)

['nom', 'couleur', 'prix']

In [2]:
# df_fruits["nom"][0] = "cer"

In [57]:
df_fruits.loc[0]

nom        pomme
couleur    rouge
prix         0.5
Name: 0, dtype: object

In [88]:
df_fruits[['nom','prix']]

      nom  prix
0   pomme   0.5
1  banane   0.2
2  orange   0.3
3   pomme   0.5
4  banane   0.2
5  orange   0.3

#### Les librairies
Python dispose d'une large gamme de bibliothèques (ou packages) qui ajoutent des fonctionnalités supplémentaires au langage de programmation de base. Les bibliothèques Python peuvent être installées à partir du gestionnaire de paquets Python (pip) ou du gestionnaire de paquets système.

In [128]:
#!pip install pandas