TP sur les dataframes
On va utiliser un dataset sur les salaires dans le domaine de l'IT

In [1]:
import pandas as pd

In [37]:
# importer le dataset: chemin data/salaries.csv, sep=";"
salaries_df = ..

In [44]:
# afficher les premiers lignes du dataframe

In [ ]:
# Afficher les informations sur le dataframe

In [50]:
# Combien de valeurs nulles compte le df

In [ ]:
# Est-ce que le dataframe comporte des dupplicates

In [ ]:
# Dans quels colonnes trouvent t-ont des valeurs nulles

In [ ]:
# Trouver un moyen intelligent pour remplacer les valeurs null dans ces colonnes

In [48]:
# Dans la colonne company_size, utiliser plûtot les termes small company, middle  company, large company 
# à la place de S,M L (remplacer)

In [ ]:
# creer un nouveau dataframe en filtrant que sur les employés ayant commencé en 2023

In [49]:
# creer un nouveau dataset en filtrant que sur les employés d'expérience Expert